img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid
}

.camel {
    border-color: green;
}

.cat {
    border-color: yellow;
}

.horse {
    border-color: red;
}

body {
    background-color: rgb(5, 96, 124);
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
}

p {
    color: white;
}

#a {
    display: flex;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

#a2 {
    display: flex;
    font-size: 25px;
    color: yellow;
    font-weight: bold;
}

#a3 {
    display: flex;
    font-size: 25px;
    color: red;
    font-weight: bold;
}

#main2 {
    width: 15%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
}

#pond {
    display: flex;
    border-color: green;
    justify-content: flex-end;
}

#pond2 {
    display: flex;
    justify-content: center;
}

#pond3 {
    display: flex;
    justify-content: space-around;
}

#pond4 {
    display: flex;
    justify-content: space-between;
}

#pond5 {
    display: flex;
    align-items: flex-end;
}

#pond6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pond7 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#pond8 {
    display: flex;
    flex-direction: row-reverse;
}

#pond9 {
    display: flex;
    flex-direction: column;
}

#pond10 {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
}

#pond11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#pond12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

#pond13 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row-reverse;
}

#pond14 {
    .yellow {
        border-color: yellow;
        order: 2;
    }
}

#pond15 {
    .red {
        border-color: red;
        order: -1;
    }
}

#pond16 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .yellow {
        border-color: yellow;
        align-self: flex-end;
    }
}

#pond17 {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    .yellow {
        border-color: yellow;
        order: 1;
        align-self: flex-end;
    }
}

#pond18 {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

#pond19 {
    display: flex;
    align-items: end;
    flex-direction: column;
    flex-wrap: wrap;
}

#pond20 {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

#pond21 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#pond22 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

#pond23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

#pond24 {
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: center;
    .red {
        border-color: red;
        order: -3;
    }
}