* {
    margin: 0;
    padding: 0;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid
}

.camel {
    border-color: blue;
}

.cat {
    
    border-color: rgb(70, 104, 216);
}

.horse {
    border-color: rgb(148, 207, 80);
}

main {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 {
    margin-top: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.section2 {
    margin-top: 15px;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: justify;
}